# Mapbox token for slippy basemap tiles (and Mapbox GL JS license)
# from https://account.mapbox.com/
VITE_PUBLIC_MAPBOX_TOKEN=xxx
# Geocode Earth token for geocoding/search
# from https://app.geocode.earth/
VITE_PUBLIC_GEOCODE_EARTH_TOKEN=xxx
# Optional app title override for specific deployments
VITE_PUBLIC_APP_TITLE=Placemark Play
# Optional default dataset to preload on startup
# Example: /maps/event-a.geojson
VITE_PUBLIC_DEFAULT_DATA_URL=
